@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
:root {
  --logo-initial-color: #242933;
  --vivo-blue: #415fff;
  --background-white:#FEFEFE;
  --background-white-2:#F5F7FA ;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sen', sans-serif;
  overflow-x: hidden;
}
body {
  width: 100vw;
  background-color: var(--background-white)
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

/* navbar-start */

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 13rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-white);
  height: 5.375rem;
  position: fixed;
  z-index: 10000;
}

/* logo */

.logo-div{
  width: 5.7rem;
}
svg{
  width: 100%;
}
#common-path {
  fill: var(--logo-initial-color);
  transition: fill 0.4s ease-in; 
}

.logo-div:hover #common-path {
  fill: var(--vivo-blue);
}
/* sectionids */

.sectionids-ul {
  display: flex;
  flex-direction: row;
  transition: color 0.4s;
}
.sectionids-ul li {
  padding: 0 1.25vw;
}
.sectionids-ul li a {
  font-size: 14px;
  color: var(--logo-initial-color);
  transition: color 0.2s ease 0s;
}
.sectionids-ul li a:hover {
  color: var(--vivo-blue);
}

/* icons-nav */
.icon-div ul{
  display: flex;
  flex-direction: row;
}
.icon-div ul li{
  padding: 0 1.2vw;
}
.icon-div ul li svg {
  width: 24px; 
  transition: fill 0.3s; 
}
.icon-div ul li:hover #common-path {
  fill: var(--vivo-blue);
}

/* navbar-end */
/* home-main-start */
.home-main{
  height: 95vh;
  width: 100%;
  background-image: url(./assets/home/home-main.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  margin-top: 2rem; ;
}
/* home-main-end */
/* home-main-2-start */
.home-main-2{
  width:100vw;
  background-color: var(--background-white-2);
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}
.home-images {
  width: 82rem;
}
.img-container {
  height: 40rem;
  overflow: hidden;
  border-radius: 30px;
  margin-bottom: 2rem;
}

.img-container img:hover {
  transform: scale(1.05);
}

.img-container img {
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
}
/* home-main-2-end */


